
    body {
        background: rgb(0, 49, 68); /**/
        color: rgb(131, 240, 32);
        font: normal 15pt Arial;
    }

    header {

        text-align: center;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        font: normal 25pt Arial;
        
    }

    div.calculadora {
        float: left;
        height: 550px; /* altura */
        margin-right: 10px; 
        background-color: rgb(212, 212, 210);
        color: black;
        border-radius: 10px;
        padding: 15px;
        width: 450px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
    }
    h2 {
        text-align: center;
    }

    div.principal {

        width: 800px;
        height: 800px;
        overflow: hidden;
        background-color: rgb(212, 212, 210);
        color: black;
        border-radius: 10px;
        text-align: justify;
        padding: 15px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
        height: 550px;
        
    }

    #imagem {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        
    }
    #foto {
        text-align: center;
    }

    footer {
        text-align: center;
        font-style: italic;
        color: rgb(224, 224, 224);
    }
